<p>set-item works!</p>
<div class="container">
  <div class="card">
    <div class="card-head">
      <h2>{{cardTitle}}</h2>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label>Exercise</label>
        <input type="text" class="form-control" [(ngModel)]="set.exercise_Name"/>
        <label>Muscle Group</label>
        <select class="form-control" [(ngModel)]="set.muscle_group">
          <option value="" selected disabled>Select a Muscle Group</option>
          <option value="Chest">Chest</option>
          <option value="Back">Back</option> 
          <option value="Shoulders">Shoulders</option> 
          <option value="Arms">Arms</option> 
          <option value="Core">Core</option> 
          <option value="Quads">Quads</option> 
          <option value="Hamstrings">Hamstrings</option>  
          <option value="Calves">Calves</option> 
        </select>
        <br>
        <label>Weight</label>
        <input type="number" class="form-control" [(ngModel)]="set.weight"/>
        <label>Reps</label>
        <input type="number" class="form-control" [(ngModel)]="set.reps"/>
      </div>
      <br>
      <button routerLink="/tracker" class="btn btn-success" (onclick)="updateSet(set,set.id)">
        Save Changes
      </button>
  <hr/>
  <a routerLink="/tracker" class="btn btn-primary">
    Discard Changes
  </a>
  </div>
</div>


