<app-header></app-header>
  <div class="container">
    <input-form-component (addSetEvent)="formEventHandler($event)"></input-form-component> <!--(event) should be modified to name the event--> 
    <div class="card">
      <div class="card-header"> 
        <h2>Workout Log</h2>
        <p>Number of Logged Sets: {{numberOfSets}}</p>
      </div>
      <div class="card-body">
        <output-table-component *ngFor="let s of setItems" [set]="s">
        </output-table-component>
      </div>
    </div>   
    <hr> 
    <workout-summary-component></workout-summary-component>
  </div>
<app-footer></app-footer>