div{
    padding-left: 20px;
    padding-right: 20px;
}
.exerciseName{
    font-weight: bold;
}
.muscleGroup{
    font-weight: bold;
    font-style: italic;
}
#button{
    height: 90%;
    display: flex;
    justify-content: space-around;
}