thead{
    font-weight: bold;
    margin: 0;
}
.setEntry{
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}
.muscleGroup{
    font-style: italic;
}