
<!-- <div class="card">
    <div class="card-header">
      <div class="col-2">
        Workout Log
      </div>
      <div class="col-2">
        Number of logged sets: {{sets}}
      </div>
    </div>
    <div class="card-body">
      <div class="table" *ngIf="setItems.length > 0">
        <table class="table responsive">
          <thead>
            <td>Exercise ID</td>
            <td>Muscle Group</td>
            <td>Weight</td>
            <td>Reps each Set</td>
          </thead>
          <tbody>
              <app-table-row *ngFor="let s of setItems" [set]="s">
              </app-table-row>
          </tbody>
        </table>
      </div>
    </div>
</div>
  <div class="mt-2 mb-5"></div>


     -->

<div class="card">
  <h4>
    Exercise: {{set.exercise_Name}}
  </h4>
  <h5>
    Muscle Group: {{set.muscle_group}}
  </h5>
  <h5>
    Weight: {{set.weight}}
  </h5>
  <h5>
    Repetitions: {{set.reps}}
  </h5>
</div>     


