<div class="mt-2 mb-5"></div>
  <button class="btn btn-primary" (click)="showSummary()">
    {{this.show? 'Hide' :'Show'}} Workout Summary 
  </button>
<div class="mt-2 mb-5"></div>
<div class="container" *ngIf="this.show"> 
    <div class="card">
      <div class="card-header">
        <h4>
          Workout Summary
        </h4>
      </div>
    <div class="card-body">
        <table class="table">
          <thead>
            <td>Muscle Group</td>
            <td>Total Sets</td>
            <td>Total Volume</td>
          </thead>
          <tbody>
            <tr><td>Chest</td><td>{{workoutSummary.chest.totalSets}}</td><td>{{workoutSummary.chest.totalVolume}}</td></tr>
            <tr><td>Back</td><td>{{workoutSummary.back.totalSets}}</td><td>{{workoutSummary.back.totalVolume}}</td></tr>
            <tr><td>Shoulders</td><td>{{workoutSummary.shoulders.totalSets}}</td><td>{{workoutSummary.shoulders.totalVolume}}</td></tr>
            <tr><td>Arms</td><td>{{workoutSummary.arms.totalSets}}</td><td>{{workoutSummary.arms.totalVolume}}</td></tr>
            <tr><td>Core</td><td>{{workoutSummary.core.totalSets}}</td><td>{{workoutSummary.core.totalVolume}}</td></tr>
            <tr><td>Quads</td><td>{{workoutSummary.quads.totalSets}}</td><td>{{workoutSummary.quads.totalVolume}}</td></tr>
            <tr><td>Hamstrings</td><td>{{workoutSummary.hamstring.totalSets}}</td><td>{{workoutSummary.hamstring.totalVolume}}</td></tr>
            <tr><td>Calves</td><td>{{workoutSummary.calve.totalSets}}</td><td>{{workoutSummary.calve.totalVolume}}</td></tr>
          </tbody>
        </table>
    </div>
</div>
